@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Osztály áttekintő</h1>
    <h5>A gombra kattintva megtudod nézni a tanárok és diákok névsorát.</h5>
    <img src="~/Images/osztalykep.jpg"/>
    <a class="btn btn-primary btn-dark" asp-area="" asp-page="crud/index">Áttekintés</a>
</div>
