@page
@model Tanulok.Pages.Crud.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Szerkesztés</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Diak.Id" />
            <div class="form-group">
                <label asp-for="Diak.TanarNev" class="control-label"></label>
                <input asp-for="Diak.TanarNev" class="form-control" />
                <span asp-validation-for="Diak.TanarNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diak.Osztaly" class="control-label"></label>
                <input asp-for="Diak.Osztaly" class="form-control" />
                <span asp-validation-for="Diak.Osztaly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diak.DiakNev" class="control-label"></label>
                <input asp-for="Diak.DiakNev" class="form-control mb-2" />
                <span asp-validation-for="Diak.DiakNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary btn-dark mb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-primary btn-dark">Vissza a névsorhoz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
